<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <header class="header">
        <a href="https://vrcim2tb8u.loclx.io/">
            <img src="assets/images/download.png" alt="Softwrd LTD logo" />
        </a>
        <h1>Softwrd LTD</h1>
    </header>
    <main>
        {{ content }}
    </main>
    <footer class="footer">
        <p>&copy; 2023 Softwrd LTD. All rights reserved.</p>
    </footer>
  </body>
</html>